// fonts
@import 'components/fonts';

// variables
@import 'components/variables';
@import 'libraries/bootstrap.min';

/* ======================================================================
HEADER
========================================================================= */

nav {
  border: 2px solid black;
}

nav>ul {
  list-style: none;
  display: flex;
}